PROCESS_OPT_GATEWAY_API_KEY=dev-api-key
PROCESS_OPT_NATS_URL=nats://localhost:4222
PROCESS_OPT_POSTGRES_DSN=postgresql://postgres:postgres@localhost:5432/process_opt
PROCESS_OPT_NATS_STREAM=PROCESS_OPT
PROCESS_OPT_PROCESS_SUBJECT=process_data
PROCESS_OPT_INSPECTION_SUBJECT=inspection_data
